* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 62.5%;
}

button {
  background-color: darkorange;
  cursor: pointer;
  padding: 1rem;
  width: 10rem;
}

span {
  background-color: whitesmoke;
  font-size: 1.6rem;
  padding: 0.9rem 10rem;
}

button:hover {
  background-color: orange;
}

#app {
  align-items: center;
  display: flex;
  background-color: darkcyan;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
